/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/vendor
.env
ji-touch.ru.access.log
ji-touch.ru.access.log.20230623
ji-touch.ru.access.log.20230624
ji-touch.ru.access.log.20230625
.env.production
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.phpunit.result.cache
/.fleet
/.idea
/.vscode
package-lock.json
